<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JACPL</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/commercial_dashboard.css">
</head>

<body>
    <%- include('partials/navbar.ejs') %>


        <!-- Banner Section ----------------------------- -->

        <!-- <div class="container-fluid px-0 bg_g">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="http://13.234.228.246/meets/images/banner-mobile-app.png" class="d-block w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item bg_ant">
                        <img src="/static/images/banner-2024.png" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item bg_bq">
                        <img src="/static/images/banner-mobile-2024.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div> -->

        <!-- Banner Section ----------------------------- -->


        <div class="container-fluid mt-3">

            <div class="row">


                <div class="col-md-6 my-4">


                    <div class=" row border-t mediamr">
                        <div class="container-fluid pb-3 border-t bg_dot  newmp">
                            <div class="row bg_b text-light align-middle text-center border-t">
                                <h4 class="f_14 mt-2"><i class="fa-solid fa-people-roof me-2"></i>Manage Meet Details
                                </h4>
                            </div>
                            <div class="row my-3 mx-1">
                            </div>

                            <div class="row mx-1 my-2">
                                <button class="btn hover_btn box_sdw11  btn_grn f_13 fw_600 text-light  text-start"
                                    id="pnd_btl">
                                    <i class="fa-solid fa-hourglass-half me-3"></i>
                                    View/Edit Pending BTL </button>
                            </div>

                            <div class="row mx-1 my-2">
                                <button class="btn hover_btn box_sdw11  btn_grn f_13 fw_600 text-light  text-start"
                                    id="ra_btl">
                                    <i class="fa-solid fa-eye me-3"></i>
                                    View Rejected & Approved BTL </button>
                            </div>
                            <div class="row mx-1 my-2">
                                <button class="btn hover_btn box_sdw11  btn_grn f_13 fw_600 text-light  text-start"
                                    id="duplicate_image_details">
                                    <i class="fa-solid fa-clone me-3"></i>
                                    Duplicate Image Details</button>
                            </div>



                        </div>

                    </div>


                </div>

                <div class="col-md-6 my-4">


                    <div class=" row border-t mediamr">
                        <div class="container-fluid pb-3 border-t bg_dot  newmp">
                            <div class="row bg_b2 text-light align-middle text-center border-t">
                                <h4 class="f_14 mt-2"><i class="fa-solid fa-handshake me-2"></i> Meet Details</h4>
                            </div>
                            

                            <div class="row mx-1 my-2">
                                <button class="btn bg_grey hover_btn2 f_13 fw_600 text-light box_sdw11 text-start"
                                    id="eventreport">
                                    <i class="fa-regular fa-file me-3"></i>
                                    View Meet (SGA/Inshop/Contractor/Dealer) Report </button>
                            </div>


                            



                        </div>

                    </div>


                </div>





            </div>






        </div>





        <script src="/static/js/commercial_dashboard.js"></script>


        <%- include('partials/footer.ejs') %>


</body>




</html>