<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JACPL</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/employee_dashboard.css">
</head>
<body>
<%- include('partials/navbar.ejs') %>


<!-- Banner Section ----------------------------- -->

<!-- <div class="container-fluid px-0 bg_g">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="http://13.234.228.246/meets/images/banner-mobile-app.png"   class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item bg_ant">
            <img src="/static/images/banner-2024.png"  class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item bg_bq">
            <img src="/static/images/banner-mobile-2024.png"  class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div> -->
    
<!-- Banner Section ----------------------------- -->


<div class="container-fluid mt-3">

<div class="row">


    <div class="col-md-6 my-4">


        <div class=" row border-t mediamr">
<div class="container-fluid border-t pb-3 bg_dot  newmp">
    <div class="row bg_b2 text-light align-middle text-center border-t">
        <h4 class="f_14 mt-2"><i class="fa-solid fa-handshake me-2"></i>Meet Details</h4>
    </div>
    <div class="row my-3 mx-1">
        <p class="f_12 pb-0 mb-0 fw_600">View & update details of meet done in market.</p>
    </div>

    <div class="row mx-1 my-2">
        <button class="btn hover_btn  btn_grn f_13 box_sdw11 fw_600 text-light  text-start" id="sga_meet">
            <i class="fa fa-users me-3"></i>
           Add Small Group Actvity Details    </button>
</div>

<div class="row mx-1 my-2">


        <button class="btn hover_btn  btn_grn f_13 fw_600 box_sdw11 text-light  text-start" id="inshop">
            <i class="fa fa-users me-3"></i>
                Add In-Shop Meet Details     </button>
    </div>
    <div class="row mx-1 my-2">
        <button class="btn hover_btn btn_grn f_13 fw_600 box_sdw11 text-light text-start" id="contractor">
            <i class="fa fa-users me-3"></i>
            Add Contractor Meet Details      </button>
    </div>

    <div class="row mx-1 my-2">
        <button class="btn hover_btn btn_grn f_13 fw_600 box_sdw11 text-light text-start" id="dealer_meet">
            <i class="fa fa-users me-3"></i>
            Add Dealer Meet Details        </button>
    </div>

    <div class="row mx-1 my-2">
        <button class="btn bg_grey hover_btn2 f_13 fw_600 box_sdw11 text-light text-start" id="eventreport">
            <i class="fa-regular fa-file me-3"></i>
            View Meet (SGA/Inshop/Contractor/Dealer) Report        </button>
    </div>


    <div class="row mx-1 my-2">
        <button class="btn bg_grey hover_btn2 f_13 fw_600 box_sdw11 text-light text-start" id="detail_event">
            <i class="fa-solid fa-file-circle-check me-3"></i>
            View Meet (SGA/Inshop/Contractor) Detail Report        </button>
    </div>
    <div class="row mx-1 my-2">
        <button class="btn bg_grey hover_btn2 f_13 fw_600 text-light text-start box_sdw11"
            id="dealer_detail_event">
            <i class="fa-solid fa-file-circle-check me-3"></i>
            View Meet (Dealer) Detail Report </button>
    </div>

    
</div>

        </div>


    </div>
    <div class="col-md-6 my-4">
        <div class=" row mediamr">
            <div class="container-fluid border-t bg_dot pb-3  newmp">
                <div class="row bg_b border-t text-light align-middle text-center border-t">
                    <h4 class="f_14 mt-2"><i class="fa-solid fa-receipt me-2"></i>Account Statement</h4>
                </div>
                
            
                <!-- <div class="row mx-1 my-2 mt-4">
                    <button class="btn hover_btn  btn_grn f_13 fw_600  text-light text-start" id="upload_account_st">
                      Upload  Account Statement   </button>
                </div> -->
                <div class="row mx-1 my-2">
                    <button class="btn hover_btn btn_grn mt-2 box_sdw11 f_13 fw_600 text-light text-start" id="download_account_st">
                        <i class="fa-solid fa-download me-3"></i>
                       Download Account Statement      </button>
                </div>
            
               
            
              
            
                
            </div>
            
                    </div>


                    <div class=" row mediamr mt-5">
                        <div class="container-fluid border-t bg_dot pb-3  newmp">
                            <div class="row bg_b text-light align-middle text-center border-t">
                                <h4 class="f_14 mt-2"><i class="fa-regular fa-file me-2"></i>Ageing Reoprt</h4>
                            </div>
                            
                        
                           
                            <div class="row mx-1 my-2">
                                <button class="btn hover_btn btn_grn mt-2 f_13 fw_600 text-light text-start" id="download_ageing_report">
                                    <i class="fa-solid fa-download me-3"></i>
                                   Download Ageing Reoprt </button>
                            </div>
                        
                           
                        
                          
                        
                            
                        </div>
                        
                    </div>
    </div>
    <!-- <div class="col-md-6 my-4">
        <div class=" row mediamr">
            <div class="container-fluid bg_dot pb-3  box_sdw">
                <div class="row bg_b2 text-light align-middle text-center border-t">
                    <h4 class="f_14 mt-2">iClub Details</h4>
                </div>
                <div class="row my-3 mx-1">
                    <p class="f_12 pb-0 mb-0 fw_600">Employee can now view and Edit iClub details. Add New iClub through this option.</p>
                </div>
            
                <div class="row mx-1 my-2">
                    <button class="btn hover_btn  btn_grn f_13 fw_600  text-light text-start" id="iclub_report">
                        Click to View/ Update    </button>
                </div>
                <div class="row mx-1 my-2">
                    <button class="btn hover_btn btn_grn f_13 fw_600 text-light text-start">
                        Click to Add New iClub       </button>
                </div>
            
               
            
                <div class="row mx-1 my-2">
                    <button class="btn bg_grey hover_btn2 f_13 fw_600 text-light text-start">
                        View Dealerwise Monthwise iClub Achievement Report FY23-24    </button>
                </div>
            
            
                <div class="row mx-1 my-2">
                    <button class="btn bg_grey hover_btn2 f_13 fw_600 text-light text-start">
                        View Dealerwise Monthwise iClub Achievement Report FY22-23       </button>
                </div>
            
                
            </div>
            
                    </div>
    </div> -->

</div>


<!-- <div class="row my-4">


    <div class="col-md-6">


        <div class=" row border-t  mediamr">
<div class="container-fluid pb-3 bg_dot  box_sdw">
    <div class="row bg_b2 text-light align-middle text-center border-t">
        <h4 class="f_14 mt-2">Site Details</h4>
    </div>
   

    <div class="row mx-1 my-2">
        <button class="btn   hover_btn btn_grn f_13 fw_600  text-light text-start">
            Site Details</button>
    </div>
    <div class="row mx-1 my-2">
        <button class="btn hover_btn btn_grn f_13 fw_600 text-light text-start">
            Add New Site       </button>
    </div>



    <div class="row mx-1 my-2">
        <button class="btn bg_grey hover_btn2 f_13 fw_600 text-light text-start">
            Site Visit Report        </button>
    </div>


   

    
</div>

        </div>


    </div>
 

</div> -->

</div>





<script src="/static/js/employee_dashboard.js"></script>


<%- include('partials/footer.ejs') %>


</body>
</html>