<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JACPL</title>
    <link rel="icon" type="image/png" href="/static/images/logo.png">
    <link rel="stylesheet" href="/static/css/pending_approval_accept.css">
</head>

<body>
    <%- include('partials/navbar.ejs') %>



        <div class="container-fluid parentbox my-4">
            <div class="container-fluid border-t box_sdw position-relative pb-4 childbox bg-light">
                <div class="row bg_b border-t">
                    <h5 class="text-light text-center f_14 mt-2">Influencer Details</h5>
                </div>


                <div class="row border-0 mx-md-5 mt-5 bg-light  row_margin my-3">
                    <div class="container-fluid mt-5 border_b  newmp2 rounded-2">

                        <div class="row profile-row mt-5 f_13 my-3 fw_600 text-md-center">
                            <div class="col-md-6">Name : Tilak</div>
                        </div>
                        <div class="row profile-row  f_13 my-3 fw_600 text-md-center">
                            <div class="col-md-6">Contact No : +919999789194</div>
                        </div>
                        <div class="row profile-row  my-3 f_13 fw_600 text-md-center">
                            <div class="col-md-6">Communication Addresss : 75,test,testtt</div>
                        </div>
                        <div class="row profile-row  my-3 f_13 fw_600 text-md-center">
                            <div class="col-md-6"><span class="me-md-5">Dealer Name : </span> </div>
                        </div>
                        <div class="row profile-row  my-3 f_13 fw_600 text-md-center">
                            <div class="col-md-7">Dealer Code : 
                                <input type="text" class="d-inline  box_sdw11 py-2 px-2 f_13 fw_600" placeholder="Enter Dealer Code">
                                 </div>
                        </div>
                        <div class="row profile-row  my-3 f_13 fw_600 text-center">
                            <div class="col-md-12"><button class="btn bg_b box_sdw11 text-light f_13 fw_600">Submit</button></div>
                        </div>
                    </div>
                </div>

                <div class="row profile-row f_13 my-3 fw_600 text-md-center">
                    <div class="col-md-12 d-flex justify-content-center">
                        <div class="img  profile-photo box_sdw11">
                            <img src="/static/images/gojo" class=" img_pp" height="100px">
                        </div>
                    </div>
                </div>
            </div>
        </div>









        <%- include('partials/footer.ejs') %>


            <script src="/static/js/pending_approval_accept.js"></script>
</body>

</html>