


#thead tr th{
    text-align: center !important;
    vertical-align: middle !important;
    background-color: #0473cf !important;
    color: white !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 20px 12px !important;

}

#tbody tr td{
    text-align: center !important;
    vertical-align: middle !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    padding: 20px 12px !important;
}


.h_350{height: 470px !important;}
#thead{position: sticky !important;top: -2px !important;z-index: 2 !important;background-color: #0473cf !important;}